z.role-filter {
    padding: 5px;
}

.stylish-select {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
    font-family: inherit;
    outline: none;
    transition: border-color 0.3s;
}


.stylish-select option {
    padding: 10px;
}

.stylish-select:focus option {
    background-color: var(--gray-a1);
}

.table-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
        padding: 10px;
        text-align: left;

        &:hover {
            border-radius: 10px;
            background-color: var(--gray-a2);
        }
    }

}

.table-button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;

    &:disabled {
        cursor: not-allowed;
    }
}


button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 8px;


}

.pagination {
    margin-top: 10px;
}

.pagination button {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: var(--gray-a2);
    }
}

.pagination button.active {
    background-color: var(--teal-a3);
    border-color: var(--teal-a3);
}

a {
    text-decoration: none;
}

.page-dots {
    margin-right: 5px;
}