.time-input {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 30%;
        height: 30px;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
        background-color: transparent;

    }
}